:root{
    --bgrd: linear-gradient(rgb(58, 60, 74), rgb(36, 38, 50));
    --transit: all 150ms cubic-bezier(0.55, 0.085, 0.68, 0.53) 0s;

}

body{
    margin: 0;
    background-color: #181818;
    color: white;
    font-family: Avenir-World-for-Disney-Demi,sans-serif;
    font-size: 15px;
    letter-spacing: .11px;
    line-height: 1.4;
    font-weight: 700;
    height: 100vh;
    list-style: none;
    overflow-x: hidden;
}

a{color: inherit; text-decoration: none;}

nav
{
    position: fixed;
    overflow: auto;
    display: flex;
    top: 0;
    height: 7%;
    width: 100vw;
    background: #05050523;
    z-index: 2;
    transition: var(--transit);
    margin-top: -0px;
    justify-content: space-between;
}


nav > ul
{
    display: grid;
    list-style: none;
    grid-template-columns: 90px;
    grid-template-areas: 
    'logo inicio busqueda lists originales pelicula series perfil'
    ;
    text-align: center;
    width: 140vh;
    cursor: pointer;
}
nav ul  li:hover{
    text-decoration: underline;
    transition: ease-in .5s;
    text-size-adjust: 20px;
    height: auto;
    transition: all 150ms cubic-bezier(0.55, 0.085, 0.68, 0.53) 0s;
}
i{margin-top: 0.5rem;}
span
{
    margin-left: 20px;
}

.logo
{
    width: 50px;
}

.perfil_zurita
{
    max-height: 60px;
    max-width: 60px;
    margin-right: 20px;
}
.item1{grid-area: logo;width: 13vh;}
.item2{grid-area: inicio;}
.item3{grid-area: busqueda;}
.item4{grid-area: lists;}
.item5{grid-area: originales;}
.item6{grid-area: pelicula;}
.item7{grid-area: series;}
.item8{display: flex;align-items: center;}
.item8 > span{
    margin-right: 20px;
}
body > ul
{
    list-style: none;
    height: 55%;
    width: 1099rem;
    gap: 30px;
    display: flex;
    padding: 0px 3vw;
    background-color: transparent;
    transition: all 150ms cubic-bezier(0.55, 0.085, 0.68, 0.53) 0s !important;
}

body > ul > li:hover{
    border: 3.5px rgba(255, 255, 255, 0.637) solid;
    transition: all 50ms cubic-bezier(0.55, 0.085, 0.68, 0.53) 0s;
    cursor: pointer;
}
img
{
    object-fit: cover;
}

.inicio{
    background-image: linear-gradient(#05050575,rgba(255, 255, 255, 0.226));
    display: inline-flex;
    position: relative;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 55px;
    padding: 10px;
    box-sizing: border-box;
    width: 50%;
    height: 80%;
    left: 25%;
    border-radius: 8px;
}

main {
    position: relative;
    top: 6rem;
    height: 80vh;
}

.descripcion{
    flex-direction: row;
    align-items: flex-start;
    background-image: linear-gradient(top,rgba(5, 5, 5, 0.788),rgb(210, 208, 211));
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.774);
    transition: ease-out .3s;
    cursor: pointer;
}
.descripcion2{
    cursor: pointer;
    flex-direction: row;
    display: none;
    align-items: flex-start;
    background-image: linear-gradient(rgb(153, 0, 255),rgb(210, 208, 211));
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 8px 8px 8px rgba(34, 28, 28, 0.26);
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    height: 100%;
    transition: ease-out .3s;
    & .formulacio2{
        opacity: 1;
    }
}

.span{
    display: block;
    color: red;
    font-family: Courier New;
    font-size: 30px;
}

form {
    display: block;
    color: red;
    margin-top: 50px;
  }
  
  input[type=password], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: large;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    border: none;
    box-shadow: 8px 7px 0px rgba(14, 0, 0, 0.288);
    box-sizing: border-box;
}
input[type=email]:hover,input[type=password]:hover{
    color: red;
    transition: ease-in .4s;
}

input[type=button]{
    border-radius: 5px;
    padding: 10px;
    border: none;
    font-family: monospace;
    border-radius: 5px;
    box-shadow: 5px 4px 0px rgba(14, 0, 0, 0.288);
    font-size: larger;
    color: white;
    background: red;
    cursor: pointer;
}
.forgotten_passw{
    position: relative;
    top: 8px;
    font-weight: 800;
    font-size: larger;
    display: block;
    width: 272px;
    color: black;
    font-family: monospace;
}
.forgotten_passw:hover{color: red;transition: ease-in .1s;}
input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: large;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    box-shadow: 5px 4px 0px rgba(14, 0, 0, 0.288);
    box-sizing: border-box;
    border: none;
}

input[type=file],label[for=imagen-perfil]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: large;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 5px 4px 0px rgba(14, 0, 0, 0.288);
    box-sizing: border-box;
    border: none;
}

input[type=text]::placeholder{
    color: rgb(90, 83, 83);
}
input[type=text]::placeholder{
    color: rgb(90, 83, 83);
}
input[type=email]::placeholder,input[type=password]::placeholder{
    color: rgb(59, 57, 57);
    transition: ease-in .2s;
}

img{
    object-fit: cover;
    scale: 0.7;
    cursor: pointer;
}
#btn_singUp:active{
    transform: scale(0.95);
    transition: ease-out .3s;
    display: block;
    margin-top: 25px;
}
#btn_singUp{
    margin-top: 25px;
}
.btn:active{
    transform: scale(0.85);
    transition: ease-out .3s;
    display: block;
}

.formulacio{
    display: block;
}

.descripcion2:hover{
    transition: ease-out .3s;
    transform: translate(3px, -49px);
}

@media (width<600px){
    .item5,.item6,.item7{
        display: none;
    }
    nav > ul {
        display: grid;
        list-style: none;
        grid-template-columns: 0;
        grid-template-areas: 'logo inicio busqueda lists originales pelicula series perfil';
        text-align: center;
        width: 140vh;
        margin: 0;
        cursor: pointer;
        padding: 0;
        justify-content: center;
        align-items: center;
        align-content: space-around;
    }
    body > ul {
        position: relative;
        list-style: none;
        height: 65%;
        width: auto;
        display: none;
        gap: 32px;
        margin: 0% 0%;
        padding-bottom: 9%;
        background-color: rebeccapurple;
        align-content: center;
    }
    .inicio {
        background-image: linear-gradient(#05050575, rgba(255, 255, 255, 0.226));
        display: inline-flex;
        position: relative;
        border: 1px solid #ccc;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        border-radius: 55px;
        padding: 10px;
        box-sizing: border-box;
        width: 100%;
        height: 80%;
        left: 0;
        border-radius: 8px;
    }
main {
    position: relative;
    top: 6rem;
    padding: 0;
    margin: 0;
    }
}
