*{
    margin: 0;
}

.contenedor{
    display: grid;
    grid-template-columns: 439px 1fr;
}

img:hover{
    cursor: pointer;
    transform: scale(1.1);
    border-radius: 1rem;
    transition:  ease-in .2s;
}
img{
    transition:  ease-in .1s;
}